:root {
  --th-overlay: var(--th-dark-overlay);
  --th-root-bg: var(--th-dark-root-bg);
  --th-layout-bg-start: var(--th-dark-layout-bg-start);
  --th-layout-bg-end: var(--th-dark-layout-bg-end);

  --th-success: var(--th-dark-success);
  --th-warning: var(--th-dark-warning);
  --th-danger: var(--th-dark-danger);
  --th-placeholder: var(--th-dark-placeholder);
  --th-text: var(--th-dark-text);
  --th-text-darker: var(--th-dark-text-darker);

  --th-link: var(--th-dark-link);
  --th-link-lighter: var(--th-dark-link-lighter);
  --th-link-darker: var(--th-dark-link-darker);

  --th-logo: var(--th-dark-logo);

  --th-link-second: var(--th-dark-link-second);
  --th-link-second-lighter: var(--th-dark-link-second-lighter);
  --th-link-second-darker: var(--th-dark-link-second-darker);

  --th-first: var(--th-dark-first);
  --th-first-lighter: var(--th-dark-first-lighter);
  --th-first-darker: var(--th-dark-first-darker);
  --th-second: var(--th-dark-second);
  --th-second-lighter: var(--th-dark-second-lighter);
  --th-second-darker: var(--th-dark-second-darker);
  --th-second-opacity: var(--th-dark-second-opacity);
  --th-third: var(--th-dark-third);
  --th-third-lighter: var(--th-dark-third-lighter);
  --th-third-darker: var(--th-dark-third-darker);

  --th-main-text: var(--th-dark-main-text);
}
